body {
  margin: 0;
}

.topbar {
  width: 400px;
  height: 2px;
  background-color: #FF9019;
}

.main {
  width: 400px;
  height: 800px;
  background-color: #3498DB;
  margin: 0 auto;

  .maintopone {
    width: 400px;
    height: 20px;
    background-color: #494848;
    margin: 0 0 0 0;
  }

  .maintoptwo {
    width: 400px;
    height: 20px;
    background-color: #494848;
    margin: 0 0 0 0;
  }

  .deviceword {
    color: white;
    margin: 0 10px 0 10px;
    float: left;
  }

  .dropdown {
    float: left;
    margin: 0 0 0 0;
  }

  .fa.fa-random {
    margin: 0 0 0 10px;
    color: #F4A300;
  }


  .portrait {
    color: #D88A10;
    margin: 0 10px 0 10px;
    float: right;
  }

  #cbox1 {
    margin: 2px 0 0 10px;
    background-color: #666666;
    float: left;
  }

  .screen {
    float: left;
    margin: 0 0 0 10px;
    color: #929191;
  }

  .leftnumber {
    float: left;
    margin: 0 0 0 10px;
    color: #FC9A01;
  }

  .times {
    float: left;
    margin: 0 0 0 10px;
    color: #B4B4B4;
  }

  .rightnumber {
    float: left;
    margin: 0 0 0 10px;
    color: #FC9A01;
  }

  .maintoptwosmall {
    width: 60px;
    height: 20px;
    float: left;
    background-color: none;
    margin: -2px 0 0 10px;
    border-left: 1px solid #2B2B2B;
    border-right: 1px solid #2B2B2B;

    .fa.fa-exchange {
      margin: 0 0 0 10px;
      color: #B4B4B4;
    }

    .divnumber {
      float: right;
      margin: 0 10px 0 0;
      color: #FF9C00;
    }

  }

  #cbox2 {
    margin: 2px 0 0 10px;
    float: left;
  }

  .zoom {
    margin: 0;
    float: left;
    margin-left: 10px;
    color: #B3B3B3;
  }


  .temp {
    margin-top: 40px;
    width: 400px;
    height: 70px;
    background-color: #3498DB;


    h1 {
      color: white;
      margin: 0;
      font-weight: 100;
      text-align: center;
      letter-spacing: 3px;
    }

    .fewclouds {
      color: white;
      font-weight: 100;
      margin: 0;
      text-align: center;
      letter-spacing: 1px;
    }

    .bignumber {
      width: 400px;
      height: 80px;
      background-color: #3498DB;
    }

    h2 {
      margin: 0;
      text-align: center;
      font-size: 7rem;
      color: white;
      font-weight: 200;

      .sup {
        font-size: 1rem;
        position: absolute;
        margin-top: 10px;
      }

    }
  }

  .maindaysholder {
    width: 380px;
    height: 490px;
    margin-top: 150px;
    background-color: green;
    padding: 10px;

    .clearfix {
     overflow: auto;
     zoom: 1;
    }

    .daydiv {
      width: 80px;
      height: 20px;
      float: left;
      background-color: crimson;
      margin: 0 75px 0 0;

      .alldays {
        float: left;
        margin: 0 0 0 10px;
        color: white;
        font-weight: 100;
      }
    }

    .clouddiv {
      width: 80px;
      height: 20px;
      float: left;
      background-color: blue;

      .fa.fa-cloud {
        float: left;
        margin: 1px 0 0 30px;
        color: white;
        font-weight: 100;
      }

    }

    .lowdiv {
      width: 40px;
      height: 20px;
      float: right;
      background-color: black;

      .lownumber {
        float: left;
        margin: 1px 0 0 10px;
        color: white;
        font-weight: 100;

      }

    }

    .highdiv {
      width: 40px;
      height: 20px;
      float: right;
      background-color: orange;

      .highnumber {
        float: left;
        margin: 1px 0 0 10px;
        color: white;
        font-weight: 100;
      }

    }





  }

}
