body {
  margin: 0;
}

.topbar {
  width: 400px;
  height: 2px;
  background-color: #FF9019;
}

.main {
  width: 400px;
  height: 800px;
  background-color: #3498DB;
  margin: 0 auto;

  .maintopone {
    width: 400px;
    height: 20px;
    background-color: #494848;
    margin: 0 0 0 0;
  }

  .maintoptwo {
    width: 400px;
    height: 20px;
    background-color: #494848;
    margin: 0 0 0 0;
  }

  .deviceword {
    color: white;
    margin: 0 10px 0 10px;
    float: left;
  }

  .dropdown {
    float: left;
    margin: 0 0 0 0;
  }

  .fa.fa-random {
    margin: 0 0 0 10px;
    color: #F4A300;
  }


  .portrait {
    color: #D88A10;
    margin: 0 10px 0 10px;
    float: right;
  }

  #cbox1 {
    margin: 2px 0 0 10px;
    background-color: #666666;
    float: left;
  }

  .screen {
    float: left;
    margin: 0 0 0 10px;
    color: #929191;
  }

  .leftnumber {
    float: left;
    margin: 0 0 0 10px;
    color: #FC9A01;
  }

  .times {
    float: left;
    margin: 0 0 0 10px;
    color: #B4B4B4;
  }

  .rightnumber {
    float: left;
    margin: 0 0 0 10px;
    color: #FC9A01;
  }

  .maintoptwosmall {
    width: 60px;
    height: 20px;
    float: left;
    background-color: none;
    margin: -2px 0 0 10px;
    border-left: 1px solid #2B2B2B;
    border-right: 1px solid #2B2B2B;

    .fa.fa-exchange {
      margin: 0 0 0 10px;
      color: #B4B4B4;
    }

    .divnumber {
      float: right;
      margin: 0 10px 0 0;
      color: #FF9C00;
    }

  }

  #cbox2 {
    margin: 2px 0 0 10px;
    float: left;
  }

  .zoom {
    margin: 0;
    float: left;
    margin-left: 10px;
    color: #B3B3B3;
  }


  .temp {
    width: 400px;
    height: 100px;
    background-color: blue;

    h1 {
      color: white;
      font-weight: 100;
      margin: 20px 0 0 0;
      text-align: center;
    }
  }

}
